body {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, p, input {
  font-weight: 100;
}

.review-list {
  line-height: 100%;  
}

.review-list .list-group-item {
  padding: .3rem 1.5rem;
}  

.review-list .list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}

.review-list .list-group-item img {
  width: 70px;
}

.review-list .list-group-item:hover {
  background-color: #f8f9fa;
}

.review-list a {
  text-decoration: none;
  color: #000;
}

span.stars, span.stars span {
    display: block;
    background: url('../images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.pre-wrap {
	white-space: pre-wrap;
}
