<div class="container">
	<div class="row">
		<div class="col-12 mt-3">
			<div class="card">
				<div
					class="card-header d-flex align-items-start justify-content-between">
					<h1 class="card-title my-0">
						{{reviews[whichItem].game}}
						<span class="stars alignright"> <span
							ng-style="{ 'width': getStars(reviews[whichItem].score) }"></span>
						</span>
					</h1>
					<nav class="btn-group">
						<a class="btn btn-sm btn-secondary" href="#/details/{{prevItem}}">&lt;</a>
						<a class="btn btn-sm btn-secondary" href="#/">&bull;</a> <a
							class="btn btn-sm btn-secondary" href="#/details/{{nextItem}}">&gt;</a>
					</nav>
				</div>
				<div class="card-body" ng-model="artists">
					<h4 class="card-title text-dark mt-0">
						{{reviews[whichItem].intro}}						
					</h4>
					<img class="float-left mr-4 rounded"
						ng-src="images/{{reviews[whichItem].shortname}}.jpg"
						alt="Photo of {{reviews[whichItem].game}}">
					<p class="pre-wrap card-text text-secondary">{{reviews[whichItem].review}}</p>
										
					<p class="text-right"><a class="btn btn-danger" target=_blank href="https://easyallies.com/#!/review/{{reviews[whichItem].shortname}}" role="button">Read Full Review</a></p>
				</div>
			</div>
		</div>
	</div>
</div>