<div class="container mt-sm-3">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 card">
			<div class="card-body">
				<h2 class="card-title text-dark">Reviews Directory</h2>

				<div class="form-row mb-2">
					<div class="col">
						<label class="col-form-label text-right" for="searchQuery">
							search <span ng-if="query">{{ 'for: ' + query }}</span>

						</label>
					</div>
					<!-- label -->

					<div class="col-12">
						<input class="form-control form-control-lg" id="searchQuery"
							placeholder="Search for reviews" autofocus ng-model="query">
					</div>
					<!-- col-12 -->
				</div>
				<!-- form-row -->

				<div class="form-row">
					<div class="col">
						<select class="form-control form-control-inline mr-3 w-100"
							ng-model="reviewOrder">
							<option value="game">Game</option>
							<option value="author">Author</option>
							<option value="-score">Score</option>
						</select>
					</div>
					<!-- col -->
					<div class="col-9 col-md-8">
						<div class="form-check form-check-inline">
							<label class="form-check-label"><input
								class="form-check-input" type="radio" name="direction" checked
								ng-model="direction"> Asc</label>
						</div>
						<!-- form-check -->
						<div class="form-check form-check-inline">
							<label class="form-check-label"> <input
								class="form-check-input" type="radio" name="direction"
								value="reverse" ng-model="direction"> Desc
							</label>
						</div>
						<!-- form-check -->
						<div class="form-check form-check-inline">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" ng-model="showAll"> Show All
							</label>
						</div>
						<!-- form-check -->
					</div>
					<!-- col-5 -->
				</div>
				<!-- form-row -->

			</div>
			<!-- card-body -->
		</div>
		<!-- col-12 -->
	</div>
	<!-- row -->
</div>
<!-- col-container -->

<div class="review-list container" ng-if="query || showAll">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-9 col-md-7 col-lg-5">
			<ul class=" list-group d-flex">
				<li class="list-group-item"
					ng-repeat="item in reviews | filter: query |
          orderBy:reviewOrder:direction">

					<a href="#/details/{{reviews.indexOf(item)}}">
						<div class="media d-flex align-items-center">
							<img class="mr-3" ng-src="images/{{item.shortname}}.jpg"
								alt="Photo of {{item.game}}">
							<div class="media-body">
								<h5 class="text-dark">{{item.game}}</h5>
								<p>
									<em>{{item.intro}}</em>
								<p>
									<strong>Written By: {{item.author}}</strong>
								</p>

								<!-- <p class="text-right">Score: {{item.score}} -->
								<span class="stars alignright"> <span
									ng-style="{ 'width': getStars(item.score) }"></span>
								</span>

							</div>
							<!-- media-body -->
						</div>
						<!-- media -->
				</a>

				</li>
			</ul>
		</div>
		<!-- col-12 -->
	</div>
	<!-- row -->
</div>
<!-- col-container -->
